@import  url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* ==========================================================================
   Fontes
   ========================================================================== */

@font-face {
    font-family: "brusher";
    src: url("../fonts/Brusher.ttf") format("truetype");
}

@font-face {
	font-family: "Lobster";
	src: url("../fonts/Lobster-Regular.ttf") format("truetype");
}
	  
.brusher{
    font-family: "brusher";  
}

.lobster{
	font-family: "Lobster";
}

/* ==========================================================================
   Body
   ========================================================================== */
body {
	background: url("../imagens/fundo-pagina2.jpg") fixed; 
	background-size: cover;
}
/* ==========================================================================
   Barra de Navegação Principal
   ========================================================================== */
   
.bg-chocolate{
	background-color: #654C23;
}

.bg-docedeleite{
	background-color: #E1A539;
}

.fa:hover {
    opacity: 0.7;
}


.fa-facebook {
    background: #FFFFFF;
    color: #654C23;
	
}

.fa-instagram {
  background: #FFFFFF;
  color: #654C23;
}

nav {
	opacity: 0.9;
}

.navbar-toggler {
    border-color: #FFFFFF !important;
}

.dropdown-toggle::after{
	display:none;
}

.dropdown-menu{
	margin: 0;
	margin-top: -0.05rem;
	border: 2px;
	/* padding-right: 10rem; */
	
}


.hamburguer {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #FFFFFF;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}


.marca-colher {
	text-align: center;
	font-size: 2rem;
	color: #FFFFFF;
	margin: 0 auto;
	padding: 0;
}

.menuPrincipal{
	font-size:1.5rem;
	font-weight: normal;
	color: #FFFFFF;
	font-family: "Lobster";
}

.menuPrincipal a{
	font-size:1.5rem;
	font-weight: normal;
	color: #FFFFFF;
	padding-right: 10rem;
	
}

.carousel-inner img {
      width: 100%;
      height: 100;
	  background: fixed;
 }
  
 .carousel-item{
	width: 92rem;
	height: 30rem;
 } 
  



